@model ModUser


@{
    ViewData["Title"] = "User Profile";
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_VotingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheetmodified.css" asp-append-version="true" />
    <title>Category</title>
</head>
<body>


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header bg-primary text-white">
                        <strong>User Profile</strong>
                    </div>
                    <div class="card-body">
                        <div class="profile-image">
                            <img src="https://as1.ftcdn.net/v2/jpg/02/42/45/90/1000_F_242459076_53ffNaKxcGS1ioScWiSt50e9ltwvynqt.jpg" alt="Image Description" class="circular-image">
                        </div>
                        <div class="profile-details">
                            <div class="profile-row">
                                <strong>Membership ID:</strong> @Model.MembershipID
                            </div>
                            <div class="profile-row">
                                <strong>Name:</strong> @Model.MemberName
                            </div>
                            <div class="profile-row">
                                <strong>Region:</strong> @Model.Region
                            </div>
                            <div class="profile-row">
                                <strong>Email:</strong> @Model.Email
                            </div>
                            <div class="profile-row">
                                <strong>Address:</strong> @Model.Address1
                            </div>
                            <div class="profile-row">
                                <strong>Please select ypur vote type</strong> 
                            </div>

                        </div>                        <div class="text-center">
                            <div class="row">
                                <div class="col">
                                    <form method="get" asp-controller="Profile" asp-action="Executive">
                                        <button type="submit" class="btn btn-primary">Executive Concil </button>
                                    </form>
                                </div>
                                <div class="col">
                                    <form method="get" asp-controller="Profile" asp-action="Local">
                                        <button type="submit" class="btn btn-primary mx-2">Local Concil</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--//copyright-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>




